/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
}

/* Root Styles */
:root{
  /* Color Codes */
  --off-black: #222222;
  --off-white: #F9F9F9;
}

section,
section > div {
  outline: 1px solid red;
}

/* Styles */
body {
  background-color: var(--off-black);
  color: var(--off-white);
}