/* Fonts */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.25em;
}

body {
  padding: 0;
}

/* Root Styles */
:root{
  --off-black: #222222;
  --off-white: #FDFDFD;

  --spacing-city-outer: 6%;
  --spacing-city-inner: 2%;
}

/* Styles */
body {
  background-color: var(--off-black);
  color: var(--off-white);
}

#control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
#unit-toggle-btn {
  background-color: var(--off-black);
  border: 1px solid var(--off-white);
  border-radius: 5px;
}

input {
  height: 30px;
  width: 250px;
  margin-top: 16px;
}

input[type=text] {
  background-image: url(./magnify-white.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 2px center;
  padding-left: 24px;
  color: var(--off-white);
}

#unit-toggle-btn {
  width: 90px;
  margin-top: 8px;
  color: var(--off-white);
}

#city-container {
  display: flex;
  width: 80%;
  margin: 24px auto;
}

#city-container div {
  flex-basis: 100%;
  width: fit-content;
}

.large-text {
  font-size: 2rem;
}

.city-left {
  text-align: end;
  padding-right: var(--spacing-city-outer);
}

.city-middle {
  text-align: center;
  padding: 0 var(--spacing-city-inner);
  border-left: 1px solid var(--off-white);
  border-right: 1px solid var(--off-white);
}

.city-right {
  text-align: start;
  padding-left: var(--spacing-city-outer);
}

#weather-container,
#weather-current,
#weather-soon {
  outline: 1px solid red;
}

#weather-container {
  margin: 48px 0;
  color: var(--off-white);
  text-shadow: 1px 1px 2px var(--off-black);
}

#weather-current {
  height: 360px;
}

.day-outlook {
  text-align: center;
  padding-top: 28px;
}

#weather-report {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

#weather-report .left {
  text-align: end;
  padding-right: 32px;
  border-right: 0.5px solid var(--off-white);
}

#weather-report .right {
  text-align: start;
  padding-left: 32px;
  border-left: 0.5  px solid var(--off-white);
}

#weather-soon {
  display: flex;
  height: 100px;
}

#weather-soon div {
  outline: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}